body{
  background-image:url(../img/back.png) ;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat ;
  .roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

   }


.container{

    width:80% ;
    margin-right: auto;
    margin-left: auto;    
}

header {
  background: #7e82a2;
   padding: 1.5%;
}


footer {
  background: rgba(30, 30, 120, 0.5);
  padding: 1.5%;
}

h1 {
      font-size: 1.2en;
      text-align: center;
      color:#4d5770;
   }

 
h2 {
      font-size: 1.5en;
      text-align: center; 
      color:#4d5770;
      padding: 0.5%;
   }

   h3 {
    text-align: left;
    color:#4d5770;
    line-height: 1;

   }


.titulos {
        color:#343649;  
        font-weight: bolder;
         line-height: 1;
        
   }


p {
      color:red;
       font-weight: bolder;
       text-align: center;
       margin-bottom: 0.5%;
      

   }


ul, li {
          color:#343649;
          text-align: left;


   }

.oquee {
    text-align: left;
    padding: 1.5%;

   }

 
figure { 
     text-align: left;
       width: 90%;

}

img {
       border: 3px solid #4d5470 ;
       width: 40%;
}


table {
    border-collapse: collapse;
    width: 80%;
    color: #343649 ;
    margin: 2%;
    margin-right: auto;
    margin-left: auto;   

}

td, th {
    border: 3px solid #bcb2bc;
    padding: 1%;
    background: #e8e1e7;
    font-size:center;
    color:#343649;
}


a:link {
  color: #343649;
}

a:visited {
  color: #323872;
}

a:hover {
  color: #161724;
}

a:active {
  color: #161724;
}

</style>